<?xml version="1.0"?>
<rss version="2.0">
<channel>

    <title>{{ blog.name }}</title>
    <link>{{ page.url('blog') }}</link>
    <description>{{ blog.summary }}</description>
    
    {{ pagination.set('page', 20) }}
    {% for post in page.blog([], pagination) %}
        <item>
            <title>{{ post.title }}</title>
            <link>{{ post.url }}</link>
            <description><![CDATA[{{ post.content }}]]></description>
            <pubDate>{{ post.published|date('D, d M Y H:i:s O') }}</pubDate>
            <guid isPermaLink="true">{{ post.url }}</guid>
        </item>
    {% endfor %}
    
</channel>
</rss>
