{% if blog.page != 'index' %}
    <ul class="breadcrumb">
    {% for name, href in breadcrumbs %}
        {% if loop.last %}
            <li class="active">{{ name }}</li>
        {% else %}
            <li><a href="{{ href }}">{{ name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}

{% if search %}

    {% if blog.page == 'index' %}
        
        {{ page.set({
            'title': 'Search for "' ~ search ~ '" at ' ~ blog.name,
            'description': 'All of the search results at ' ~ blog.name ~ 'for "' ~ search ~ '"'
        }) }}
        
    {% elseif blog.page == 'category' %}
        
        {{ page.set({
            'title': 'Search for "' ~ search ~ '" in ' ~ category|join(' &raquo; '),
            'description': 'All of the search results for "' ~ search ~ '" in ' ~ category|join(' &raquo; ')
        }) }}
        
    {% endif %}

    <h2>Search Results for "{{ search }}"</h2>

{% elseif blog.page == 'index' %}

    {{ page.set({
        'title': blog.name,
        'description': blog.summary ?? 'View all of the posts at ' ~ blog.name
    }) }}
    
    <h2>Blog Posts</h2>

{% elseif blog.page == 'category' %}

    {{ page.set({
        'title': category|join(' &raquo; ') ~ ' at ' ~ blog.name,
        'description': 'View all of the posts at ' ~ blog.name ~ ' that have been categorized under ' ~ category|join(' &raquo ')
    }) }}
    
    <h2>{{ category|join(' &raquo; ') }} Posts</h2>

{% elseif blog.page == 'archives' %}
    
    {% if archive|length == 4 %}
        {% set date = archive.date|date('F j, Y') %}
    {% elseif archive|length == 3 %}
        {% set date = archive.date|date('F Y') %}
    {% elseif archive|length == 2 %}
        {% set date = archive.date|date('Y') %}
    {% endif %}
    
    {{ page.set({
        'title': date ~ ' Archives at ' ~ blog.name,
        'description': 'All of the blog posts at ' ~ blog.name ~ ' that were published ' ~ archive|length == 4 ? 'on' : 'in' ~ date
    }) }}
    
    <h2>{{ date }} Archives</h2>
    
{% elseif blog.page == 'authors' %}

    {{ page.set({
        'title': author.name ~ ' at ' ~ blog.name,
        'description': 'All of the blog posts at ' ~ blog.name ~ ' that have been submitted by ' ~ author.name
    }) }}
    
    <h2>Author: {{ author.name }}</h2>

{% elseif blog.page == 'tags' %}

    {{ page.set({
        'title': tag.name ~ ' at ' ~ blog.name,
        'description': 'Everything at ' ~ blog.name ~ ' that has been tagged with ' ~ tag.name
    }) }}
    
    <h2>Tag: {{ tag.name }}</h2>

{% endif %}

{% if not pagination.set('page', 10) %}
    {{ pagination.total(page.blog(listings, 'count')) }}
{% endif %}

{% set posts = page.blog(listings, pagination) %}

{% for post in posts %}
    <p itemscope itemtype="http://schema.org/Article">
        <big itemprop="name"><a href="{{ post.url }}">{{ post.title }}</a></big>
        {% if search %}
            <br>{{ post.snippet }}
        {% elseif post.page.description %}
            <br><span itemprop="headline">{{ post.page.description }}</span>
        {% endif %}
    </p>
{% endfor %}

{{ pagination.pager() }}
